video {
  width: 520px;
  border: thick solid white;
}
canvas {
  width: 520px;
  border: thick solid gold;
}
body {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e9e9e9;
  text-align: center;
  line-height: 1.6;
  padding: 20px;
}

.leaflet-image-layer {
  image-rendering: pixelated;
}

h1 {
  color: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: nowrap;
}
.column {
  flex: 1;
  padding: 10px;
  border: 3px solid #000000;
  background: #FFFFFF;
  margin: 1px;
}

.instructions {
  margin: 10px 0;
  color: #666666;
  font-style: italic;
  text-align: left;
}
#message_display {
  font-size: 16px;
  height: 450px;
  overflow-y: scroll;
  border: 1px solid #757575;
  padding: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  text-align: left;
  width: 100%;
  word-break: break-word;
  white-space: pre-wrap;
  background-color: #ffffff;
  line-height: 1.2;
}

#message_display div {
  margin-bottom: 4px;
}

.Player-name {
  color: #9204ff; 
  font-weight: bold;
}
.Coach-name {
  color: #0ad511;
  font-weight: bold;
} 

.chat-emoji {
  margin-right: 6px;
}

#gameDisplay {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #333333;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 18px;
  min-height: 50px;
  display: flex;

}
.example {
  margin: 5px;
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}

.defaultButton {
  padding: 1px 2px;
}

.whiteboard {
  height: 250px;
  width: 60%;
  max-width: 700px;
  background: #ffffff;
  color: #000;
  overflow: auto;
  padding: 10px;
  margin: 10px auto 0 auto;
  border: 3px solid #333;
  border-radius: 6px;
  opacity: 0.6;
  font-size: 14px;
}